body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: 'geo_med';
    src: url('geo_med.ttf') format('truetype');
}

@font-face {
    font-family: 'geo_light';
    src: url('geo_light.ttf') format('truetype');
}

.slide {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.render {
    transform: translate3d(0, 0, 0);
}

@media screen and (orientation: landscape) {
    .slide_img {
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        display: block;
        margin: 0 auto;
        height: 110%;
        min-width: 100%;
    }

    .shell_img {
        position: relative;
        width: auto;
        height: auto;
        max-height: 28vh;
        max-width: 35vh;
        top: -1vh;
        left: 0;
        animation: bounce 8s ease-in-out infinite;
        animation-delay: 0.1s;
        z-index: 100;
    }

    .shell_cont_img {
        position: absolute;
        top: 12vh;
        left: 50%;
        height: 35vh;
        transform: translateX(-50%);
    }

    .shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6.5vh;
        animation: expand 4s ease-in-out infinite;
        animation-direction: alternate;
        animation-delay: 0.1s;
    }

    .logo_text {
        position: absolute;
        left: 50%;
        top: 17vh;
        transform: translateX(-50%) translateY(-25%) translateY(32vh);
        background-color: rgba(255, 32, 38, 0.1)
    }

    .logo_text_a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: auto;
        max-height: 6vh;
        max-width: 50vh;
    }

    .logo_text_b {
        position: absolute;
        top: 6vh;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: auto;
        max-height: 6vh;
        max-width: 50vh;
    }

    .intro_box {
        position: absolute;
        width: 80vh;
        height: 25vh;
        left: 50%;
        top: 62vh;
        border-radius: 1vh;
        transform: translateX(-50%);
        background-color: rgba(205, 205, 205, 0.2);
        font-family: geo_light, Fallback, sans-serif;
        font-size: 1.7vh;
        overflow: hidden;
    }

    .intro_lead {
        width: 100%;
        font-size: 2vh;
        font-weight: bold;
        text-align: center;
    }

    #github_ribbon a:hover {
        background: #14a2cc;
        color: #fff;
    }

    #github_ribbon a::before, #github_ribbon a::after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        top: 0.1vh;
        left: 0;
        height: 0.1vh;
        background: #898989;
    }

    #github_ribbon a::after {
        bottom: 0.1vh;
        top: auto;
    }

    #github_ribbon {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 20vh;
        overflow: hidden;
        height: 20vh;
        z-index: 9999;
    }

    #github_ribbon a {
        background: #000;
        color: #898989;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 0.5vh 4vh;
        font-size: 1.5vh;
        line-height: 3vh;
        transition: 0.5s;
        width: 20vh;
        position: absolute;
        top: 6vh;
        right: -6vh;
        transform: rotate(45deg);
        box-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.8);
    }

    .nav {
        position: absolute;
        bottom: 1vh;
        left: 50%;
        transform: translateX(-50%);
        border: solid 0.5vh rgba(255, 255, 255, 0.75);
        color: rgba(255, 255, 255, 0.75);
        padding: 0.15vh 0.3vh;
        text-decoration: none;
        font-family: geo_med, Fallback, sans-serif;
        font-size: 2vh;
        z-index: 1500;
        transition: 0.3s;
    }

    .nav.hang {
        top: 1vh;
        bottom: auto;
    }

    .nav:hover {
        background-color: #14a2cc;
    }

    .nav.black {
        border: solid 0.5vh black;
        color: black;
    }

    .arrow {
        position: absolute;
        bottom: 1.3vh;
        border: solid rgba(255, 255, 255, 0.75);
        border-width: 0 0.3vh 0.3vh 0;
        display: inline-block;
        padding: 0.3vh;
        z-index: 502;
    }

    .arrow_black {
        position: absolute;
        bottom: 1.3vh;
        border: solid black;
        border-width: 0 0.3vh 0.3vh 0;
        display: inline-block;
        padding: 0.3vh;
        z-index: 502;
    }

    .arrow_up_left {
        left: -2vh;
        transform: rotate(-135deg);
    }

    .arrow_up_right {
        right: -2vh;
        transform: rotate(-135deg);
    }

    .arrow_down {
        transform: rotate(45deg);
    }

    .arrow_down_mod {
        bottom:0.9vh;
        transform: rotate(45deg);
    }

    .arrow_down_left {
        left: -2vh;
        transform: rotate(45deg);
    }

    .arrow_down_right {
        right: -2vh;
        transform: rotate(45deg);
    }

    .arrow_right {
        bottom:0.58vh;
        transform: rotate(-45deg);
    }

    .title {
        position: absolute;
        top: 0;
        left: 2vh;
        opacity: 0.25;
        color: #404040;
        text-decoration: none;
        font-family: geo_med, Fallback, sans-serif;
        font-size: 8vh;
        z-index: 480;
    }

    .feature {
        position: absolute;
        width: 55vh;
        height: 25vh;
        left: 50%;
        z-index: 620;
    }

    .feature_under {
        position: absolute;
        opacity: 0.6;
        background-color: #FFF;
        width: 55vh;
        height: 25vh;
        left: 50%;
        filter: blur(8px);
        border-radius: 12px;
        z-index: 610;
    }

    .feature_title {
        position: fixed;
        top: 1.8vh;
        left: 0;
        width: 100%;
        font-family: geo_med, Fallback, sans-serif;
        font-size: 2vh;
        text-align: center;
    }

    .feature_content {
        position: fixed;
        top: calc(1vh + 50%);
        transform: translateY(-50%);
        left: 14.5vh;
        width: calc(100% - 16vh);
        font-family: geo_light, Fallback, sans-serif;
        font-size: 1.7vh;
        text-align: left;
    }

    .feature_cont_img {
        position: fixed;
        top: 0;
        left: 1.8vh;
        width: 12vh;
        height: 100%;
    }

    .feature_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        height: auto;
        max-height: 12vh;
        max-width: 12vh;
    }

    .protocol {
        position: absolute;
        width: 60vh;
        left: 50%;
        z-index: 620;
    }

    .protocol_under {
        position: absolute;
        opacity: 0.6;
        background-color: #FFF;
        width: 60vh;
        left: 50%;
        filter: blur(0.5vh);
        border-radius: 1vh;
        z-index: 610;
    }

    .protocol_title {
        position: fixed;
        top: 8px;
        right: 0;
        width: 80%;
        font-family: geo_med, Fallback, sans-serif;
        font-size: 2vh;
        text-align: center;
    }

    .protocol_caption {
        position: relative;
        top: -2px;
        font-family: geo_light, Fallback, sans-serif;
        font-size: 1.6vh;
    }

    .protocol_head {
        position: relative;
        top: 0;
        font-family: geo_med, Fallback, sans-serif;
        font-size: 1.6vh;
    }

    .protocol_content {
        position: fixed;
        bottom: 1.5vh;
        left: 1.8vh;
        width: calc(100% - 3vh);
        font-family: geo_light, Fallback, sans-serif;
        font-size: 1.4vh;
        text-align: left;
    }

    .protocol_cont_img {
        position: fixed;
        top: 0;
        left: 0;
        width: 22%;
        height: 8vh;
    }

    .protocol_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        max-height: 7vh;
        max-width: 8vh;
    }

    .protocol_float_under {
        position: absolute;
        top: calc(50% - 4vh);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 88vh;
        height: 78vh;
        filter: blur(1vh);
        border-radius: 2vh;
        background-color: rgba(220, 255, 255, 0.95);
        z-index: 1000;
    }

    .protocol_float {
        position: absolute;
        top: calc(50% - 4vh);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vh;
        height: 64vh;
        padding: 4vh;
        border-radius: 2vh;
        z-index: 1002;
    }

    .protocol_float_content {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 1.8vh;
        width: calc(100% - 5.5vh);
        height: 64vh;
        font-family: geo_light, Fallback, sans-serif;
        font-size: 1.75vh;
        text-align: left;
        overflow: scroll;
        border: 0.25vh solid rgba(99, 99, 99, 0.5);
        padding: 1vh;
    }

    .protocol_font_a {
        font-size:1.65vh;
    }

    .protocol_fig_a {
        top:-2vh;
        width:6.5vh;
        height:1.3vh;
    }

    .protocol_fig_b {
        left:0.2vh;
        height:1.3vh;
    }

    .protocol_fig_c {
        left:8vh;
        width:55vh;
        height:1.3vh;
    }

    .protocol_fig_d {
        right:0.6vh;
        width:5.7vh;
        height:1.3vh;
    }

    .protocol_fig_e {
        left:50%;
        transform: translateX(-50%);
        width:53vh;
        height:1.3vh;
    }

    .launch_float_under {
        position: absolute;
        top: calc(50% + 4vh);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vh;
        height: 32vh;
        filter: blur(0.3vh);
        border-radius: 2vh;
        background-color: rgba(33, 33, 33, 0.95);
        z-index: 1000;
    }

    .launch_float {
        position: absolute;
        top: calc(50% + 4vh);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 82vh;
        height: 21vh;
        padding: 4vh;
        border-radius: 2vh;
        font-family: geo_light, Fallback, sans-serif;
        color: #f3f3f3;
        font-size: 1.4vh;
        z-index: 1006;
    }

    .launch_bottom {
        bottom:0.3vh;
    }

    .launch_font_a {
        font-size:1.9vh;
    }

    .launch_sides {
        position:fixed;
        top:-0.1vh;
        width:25%;
        font-family: geo_med, Fallback, sans-serif;
        font-size:1.75vh;
    }

    .launch_address {
        position:fixed;
        left:50%;
        transform:translateX(-50%);
        top:9.4vh;
        font-size:1.75vh;
        font-family: geo_med, Fallback, sans-serif;
        background-color: #a8a8a8;
        border-radius:1vh;
        color:black;
        padding:0.5vh 1vh;
    }

    .level_one_b {
        height: 8vh;
        top: 13.5%;
        transform: translateX(-50%) translateY(-50%);
    }

    .level_two_b {
        height: 38vh;
        top: 39.2%;
        transform: translateX(-50%) translateY(-50%);
    }

    .level_three_b {
        height: 35vh;
        top: calc(88% - 7.5vh);
        transform: translateX(-50%) translateY(-50%);
    }

    .level_one_c {
        height: 22vh;
        top: 12.5%;
        transform: translateX(-50%) translateY(-50%);
    }

    .level_two_c {
        height: 20vh;
        top: 35.8%;
        transform: translateX(-50%) translateY(-50%);
    }

    .level_three_c {
        height: 26vh;
        top: 62%;
        transform: translateX(-50%) translateY(-50%);
    }

    .level_four_c {
        height: 20vh;
        top: 88%;
        transform: translateX(-50%) translateY(-50%);
    }

    .flare_shell {
        background-color: rgba(48, 93, 171, 0.1);
    }

    .flare_shell:after {
        background-image: url(oy_logo_shell_micro.png);
        background-size: 1.23vh 1.5vh;
        display: inline-block;
        opacity: 0.2;
        width: 1.23vh;
        height: 1.5vh;
        content: "";
    }

    .flare_yellow {
        background-color: rgba(255, 221, 110, 0.08);
    }

    .flare_yellow:after {
        background-image: url(oy_shell_yellow_micro.png);
        background-size: 2vh 1vh;
        display: inline-block;
        opacity: 0.2;
        width: 2vh;
        height: 1vh;
        content: "";
    }

    .flare_brown {
        background-color: rgba(187, 133, 107, 0.08);
    }

    .flare_brown:after {
        background-image: url(oy_shell_brown_micro.png);
        background-size: 1.88vh 1.5vh;
        display: inline-block;
        opacity: 0.2;
        width: 1.88vh;
        height: 1.5vh;
        content: "";
    }

    .flare_red {
        background-color: rgba(255, 83, 64, 0.08);
    }

    .flare_red:after {
        background-image: url(oy_shell_red_micro.png);
        background-size: 0.97vh 1.5vh;
        display: inline-block;
        opacity: 0.2;
        width: 0.97vh;
        height: 1.5vh;
        content: "";
    }

    .flare_purple {
        background-color: rgba(128, 48, 224, 0.08);
    }

    .flare_purple:after {
        background-image: url(oy_shell_purple_micro.png);
        background-size: 2vh 1.47vh;
        display: inline-block;
        opacity: 0.2;
        width: 2vh;
        height: 1.47vh;
        content: "";
    }

    .flare_blue {
        background-color: rgba(38, 147, 255, 0.08);
    }

    .flare_blue:after {
        background-image: url(oy_shell_blue_micro.png);
        background-size: 1.48vh 1.5vh;
        display: inline-block;
        opacity: 0.2;
        width: 1.48vh;
        height: 1.5vh;
        content: "";
    }

    .flare_pink {
        background-color: rgba(247, 96, 185, 0.08);
    }

    .flare_pink:after {
        background-image: url(oy_shell_pink_micro.png);
        background-size: 1.68vh 1.5vh;
        display: inline-block;
        opacity: 0.2;
        width: 1.68vh;
        height: 1.5vh;
        content: "";
    }

    .text_sel {
        position: absolute;
        font-family: geo_light, Fallback, sans-serif;
        text-align: center;
        border-right: 0.3vh solid black;
        border-left: 0.3vh solid black;
        border-bottom: 0.3vh solid black;
    }

    .text_sel_label {
        position: relative;
        top: 2vh;
    }

    .code_demo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Courier new', monospace;
        font-size: 1.35vh;
        font-weight: bold;
        width: 95%;
        padding: 1vh;
        border-radius: 1vh;
        background-color: #2e2e2e;
        text-align: center;
    }

    .candle_img {
        position: relative;
        width: auto;
        height: auto;
        max-height: 30vh;
        max-width: 60vh;
    }
}

@media screen and (orientation: portrait) {

    .slide_img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        display: block;
        margin: 0 auto;
        height: 100%;
    }

    .shell_img {
        position: relative;
        width: auto;
        height: auto;
        max-height: 28vw;
        max-width: 35vw;
        top: -1vw;
        left: 0;
        animation: bounce 8s ease-in-out infinite;
        animation-delay: 0.1s;
        z-index: 100;
    }

    .shell_cont_img {
        position: absolute;
        top: 12vw;
        left: 50%;
        height: 35vw;
        transform: translateX(-50%);
    }

    .shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6.5vw;
        animation: expand 4s ease-in-out infinite;
        animation-direction: alternate;
        animation-delay: 0.1s;
    }

    .logo_text {
        position: absolute;
        left: 50%;
        top: 17vw;
        transform: translateX(-50%) translateY(-25%) translateY(32vw);
        background-color: rgba(255, 32, 38, 0.1)
    }

    .logo_text_a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: auto;
        max-height: 6vw;
        max-width: 50vw;
    }

    .logo_text_b {
        position: absolute;
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: auto;
        max-height: 6vw;
        max-width: 50vw;
    }

    .intro_box {
        position: absolute;
        width: 80vw;
        height: 25vw;
        left: 50%;
        top: 68vw;
        border-radius: 1vw;
        transform: translateX(-50%);
        background-color: rgba(205, 205, 205, 0.2);
        font-family: geo_light, Fallback, sans-serif;
        font-size: 1.7vw;
        overflow: hidden;
    }

    .intro_lead {
        width: 100%;
        font-size: 2vw;
        font-weight: bold;
        text-align: center;
    }

    #github_ribbon a:hover {
        background: #14a2cc;
        color: #fff;
    }

    #github_ribbon a::before, #github_ribbon a::after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        top: 0.1vw;
        left: 0;
        height: 0.1vw;
        background: #898989;
    }

    #github_ribbon a::after {
        bottom: 0.1vw;
        top: auto;
    }

    #github_ribbon {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 20vw;
        overflow: hidden;
        height: 20vw;
        z-index: 9999;
    }

    #github_ribbon a {
        background: #000;
        color: #898989;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 0.5vw 4vw;
        font-size: 1.5vw;
        line-height: 3vw;
        transition: 0.5s;
        width: 20vw;
        position: absolute;
        top: 6vw;
        right: -6vw;
        transform: rotate(45deg);
        box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.8);
    }

    .nav {
        position: absolute;
        bottom: 1vw;
        left: 50%;
        transform: translateX(-50%);
        border: solid 0.5vw white;
        color: white;
        padding: 0.15vw 0.3vw;
        text-decoration: none;
        font-family: geo_med, Fallback, sans-serif;
        font-size: 2vw;
        z-index: 1500;
        transition: 0.3s;
    }

    .nav.hang {
        top: 1vw;
        bottom: auto;
    }

    .nav:hover {
        background-color: #14a2cc;
    }

    .nav.black {
        border: solid 0.5vw black;
        color: black;
    }

    .arrow {
        position: absolute;
        bottom: 1.3vw;
        border: solid white;
        border-width: 0 0.3vw 0.3vw 0;
        display: inline-block;
        padding: 0.3vw;
    }

    .arrow_black {
        position: absolute;
        bottom: 1.3vw;
        border: solid black;
        border-width: 0 0.3vw 0.3vw 0;
        display: inline-block;
        padding: 0.3vw;
    }

    .arrow_up_left {
        left: -2vw;
        transform: rotate(-135deg);
    }

    .arrow_up_right {
        right: -2vw;
        transform: rotate(-135deg);
    }

    .arrow_down {
        transform: rotate(45deg);
    }

    .arrow_down_mod {
        bottom:0.9vw;
        transform: rotate(45deg);
    }

    .arrow_down_left {
        left: -2vw;
        transform: rotate(45deg);
    }

    .arrow_down_right {
        right: -2vw;
        transform: rotate(45deg);
    }

    .arrow_right {
        bottom:0.58vw;
        transform: rotate(-45deg);
    }

    .title {
        position: absolute;
        top: 0;
        left: 2vw;
        opacity: 0.25;
        color: #404040;
        text-decoration: none;
        font-family: geo_med, Fallback, sans-serif;
        font-size: 8vw;
        z-index: 480;
    }

    .feature {
        position: absolute;
        width: 48vw;
        height: 30vw;
        left: 50%;
        z-index: 620;
    }

    .feature_under {
        position: absolute;
        opacity: 0.6;
        background-color: #FFF;
        width: 48vw;
        height: 30vw;
        left: 50%;
        filter: blur(8px);
        border-radius: 12px;
        z-index: 610;
    }

    .feature_title {
        position: fixed;
        top: 8px;
        left: 0;
        width: 100%;
        font-family: geo_med, Fallback, sans-serif;
        font-size: 2vw;
        text-align: center;
    }

    .feature_content {
        position: fixed;
        top: calc(1vw + 50%);
        transform: translateY(-50%);
        left: 14.5vw;
        width: calc(100% - 16vw);
        font-family: geo_light, Fallback, sans-serif;
        font-size: 1.7vw;
        text-align: left;
    }

    .feature_cont_img {
        position: fixed;
        top: 0;
        left: 1.8vw;
        width: 12vw;
        height: 100%;
    }

    .feature_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        height: auto;
        max-height: 12vw;
        max-width: 12vw;
    }

    .protocol {
        position: absolute;
        width: 50vw;
        left: 50%;
        z-index: 620;
    }

    .protocol_under {
        position: absolute;
        opacity: 0.6;
        background-color: #FFF;
        width: 49vw;
        left: 50%;
        filter: blur(0.5vw);
        border-radius: 1vw;
        z-index: 610;
    }

    .protocol_title {
        position: fixed;
        top: 8px;
        right: 0;
        width: 80%;
        font-family: geo_med, Fallback, sans-serif;
        font-size: 2vw;
        text-align: center;
    }

    .protocol_caption {
        position: relative;
        top: -2px;
        font-family: geo_light, Fallback, sans-serif;
        font-size: 1.6vw;
    }

    .protocol_head {
        top: 0;
        font-family: geo_med, Fallback, sans-serif;
        font-size: 1.6vw;
    }

    .protocol_content {
        position: fixed;
        bottom: 1.5vw;
        left: 1.8vw;
        width: calc(100% - 3vw);
        font-family: geo_light, Fallback, sans-serif;
        font-size: 1.4vw;
        text-align: left;
    }

    .protocol_cont_img {
        position: fixed;
        top: 0;
        left: 0;
        width: 22%;
        height: 8vw;
    }

    .protocol_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        height: auto;
        max-height: 7vw;
        max-width: 8vw;
    }

    .protocol_float_under {
        position: absolute;
        top: calc(50% - 4vw);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 88vw;
        height: 78vw;
        filter: blur(1vw);
        border-radius: 2vw;
        background-color: rgba(220, 255, 255, 0.95);
        z-index: 1000;
    }

    .protocol_float {
        position: absolute;
        top: calc(50% - 4vw);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 64vw;
        padding: 4vw;
        border-radius: 2vw;
        z-index: 1002;
    }

    .protocol_float_content {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 1.8vw;
        width: calc(100% - 5.5vw);
        height: 64vw;
        font-family: geo_light, Fallback, sans-serif;
        font-size: 1.75vw;
        text-align: left;
        overflow: scroll;
        border: 0.25vw solid rgba(99, 99, 99, 0.5);
        padding: 1vw;
    }

    .protocol_font_a {
        font-size:1.65vw;
    }

    .protocol_fig_a {
        top:-2vw;
        width:6.5vw;
        height:1.3vw;
    }

    .protocol_fig_b {
        left:0.2vw;
        height:1.3vw;
    }

    .protocol_fig_c {
        left:8vw;
        width:55vw;
        height:1.3vw;
    }

    .protocol_fig_d {
        right:0.6vw;
        width:5.7vw;
        height:1.3vw;
    }

    .protocol_fig_e {
        left:50%;
        transform: translateX(-50%);
        width:53vw;
        height:1.3vw;
    }

    .launch_float_under {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 38vw;
        filter: blur(0.3vw);
        border-radius: 2vw;
        background-color: rgba(33, 33, 33, 0.95);
        z-index: 1000;
    }

    .launch_float {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 76vw;
        height: 25vw;
        padding: 4vw;
        border-radius: 2vw;
        font-family: geo_light, Fallback, sans-serif;
        color: #f3f3f3;
        font-size: 1.5vw;
        z-index: 1006;
    }

    .launch_bottom {
        bottom:0.3vw;
    }

    .launch_font_a {
        font-size:1.9vw;
    }

    .launch_sides {
        position:fixed;
        top:-0.1vw;
        width:25%;
        font-family: geo_med, Fallback, sans-serif;
        font-size:1.75vw;
    }

    .launch_address {
        position:fixed;
        left:50%;
        transform:translateX(-50%);
        top:8vw;
        font-size:1.75vw;
        font-family: geo_med, Fallback, sans-serif;
        background-color: #a8a8a8;
        border-radius:1vw;
        color:black;
        padding:0.5vw 1vw;
    }

    .level_one_b {
        height: 12vw;
        top: 13.5%;
        transform: translateX(-50%) translateY(-50%);
    }

    .level_two_b {
        height: 47vw;
        top: 40%;
        transform: translateX(-50%) translateY(-50%);
    }

    .level_three_b {
        height: 40vw;
        top: calc(85% - 9vw);
        transform: translateX(-50%) translateY(-50%);
    }

    .level_one_c {
        height: 24vw;
        top: 12.5%;
        transform: translateX(-50%) translateY(-50%);
    }

    .level_two_c {
        height: 22vw;
        top: 34.5%;
        transform: translateX(-50%) translateY(-50%);
    }

    .level_three_c {
        height: 32vw;
        top: 60%;
        transform: translateX(-50%) translateY(-50%);
    }

    .level_four_c {
        height: 22vw;
        top: 85%;
        transform: translateX(-50%) translateY(-50%);
    }

    .flare_shell {
        background-color: rgba(48, 93, 171, 0.08);
    }

    .flare_shell:after {
        background-image: url(oy_logo_shell_micro.png);
        background-size: 1.23vw 1.5vw;
        display: inline-block;
        opacity: 0.2;
        width: 1.23vw;
        height: 1.5vw;
        content: "";
    }

    .flare_yellow {
        background-color: rgba(255, 221, 110, 0.08);
    }

    .flare_yellow:after {
        background-image: url(oy_shell_yellow_micro.png);
        background-size: 2vh 1vw;
        display: inline-block;
        opacity: 0.2;
        width: 2vw;
        height: 1vw;
        content: "";
    }

    .flare_brown {
        background-color: rgba(187, 133, 107, 0.08);
    }

    .flare_brown:after {
        background-image: url(oy_shell_brown_micro.png);
        background-size: 1.88vw 1.5vw;
        display: inline-block;
        opacity: 0.2;
        width: 1.88vw;
        height: 1.5vw;
        content: "";
    }

    .flare_red {
        background-color: rgba(255, 83, 64, 0.08);
    }

    .flare_red:after {
        background-image: url(oy_shell_red_micro.png);
        background-size: 0.97vw 1.5vw;
        display: inline-block;
        opacity: 0.2;
        width: 0.97vw;
        height: 1.5vw;
        content: "";
    }

    .flare_purple {
        background-color: rgba(128, 48, 224, 0.08);
    }

    .flare_purple:after {
        background-image: url(oy_shell_purple_micro.png);
        background-size: 2vw 1.47vw;
        display: inline-block;
        opacity: 0.2;
        width: 2vw;
        height: 1.47vw;
        content: "";
    }

    .flare_blue {
        background-color: rgba(38, 147, 255, 0.08);
    }

    .flare_blue:after {
        background-image: url(oy_shell_blue_micro.png);
        background-size: 1.48vw 1.5vw;
        display: inline-block;
        opacity: 0.2;
        width: 1.48vw;
        height: 1.5vw;
        content: "";
    }

    .flare_pink {
        background-color: rgba(247, 96, 185, 0.08);
    }

    .flare_pink:after {
        background-image: url(oy_shell_pink_micro.png);
        background-size: 1.68vw 1.5vw;
        display: inline-block;
        opacity: 0.2;
        width: 1.68vw;
        height: 1.5vw;
        content: "";
    }

    .text_sel {
        position: absolute;
        font-family: geo_light, Fallback, sans-serif;
        text-align: center;
        border-right: 0.3vw solid black;
        border-left: 0.3vw solid black;
        border-bottom: 0.3vw solid black;
    }

    .text_sel_label {
        position: relative;
        top: 2vw;
    }

    .code_demo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Courier new', monospace;
        font-size: 1.35vw;
        font-weight: bold;
        width: 95%;
        padding: 1vw;
        border-radius: 1vw;
        background-color: #2e2e2e;
        text-align: center;
    }

    .candle_img {
        position: relative;
        width: auto;
        height: auto;
        max-height: 30vw;
        max-width: 60vw;
    }
}

.level_one {
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
}

.level_two {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.level_three {
    top: 80%;
    transform: translateX(-50%) translateY(-50%);
}

@-webkit-keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2vh);
    }
}

@keyframes expand {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

.center_hor {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.oy_fade {
    opacity: 0;
    opacity: 1 \9; /*just in case ie*/
    animation: fade_in ease-in 1;
    animation-fill-mode: forwards;
}

.oy_fade.one {
    animation-delay: 0.1s;
    animation-duration: 0.8s;
}

.oy_fade.two {
    animation-delay: 1s;
    animation-duration: 0.8s;
}

.oy_fade.three {
    animation-delay: 1.2s;
    animation-duration: 0.4s;
}

.oy_fade.four {
    animation-delay: 2.2s;
    animation-duration: 0.8s;
}

.oy_fade.five {
    animation-delay: 2.4s;
    animation-duration: 0.5s;
}

.protocol_mention {
    font-family: geo_med, Fallback, sans-serif;
    color: #5e5e5e;
}

.protocol_mention:hover {
    cursor: pointer;
}

.bold {
    font-family: geo_med, Fallback, sans-serif;
}

@media screen and (min-width: 800px) {

    @media screen and (orientation: landscape) {
        .launch_clock_extra {
            position: absolute;
            top: -28%;
            left: 3vh;
            transform: scale(0.5);
        }
    }

    @media screen and (orientation: portrait) {
        .launch_clock_extra {
            position: absolute;
            top: -28%;
            left: 1vw;
            transform: scale(0.5);
        }
    }

    .launch_title {
        display:block;
    }

    .launch_date {
        display:none;
    }
}
@media screen and (max-width: 799px) {
    .launch_clock_extra {
        display:none;
    }

    .launch_title {
        display:none;
    }

    .launch_date {
        display:block;
        font-family: geo_med, Fallback, sans-serif;
        width:100%;
        text-align:center;
        top:0;
        position:absolute;
        left:0;
        transform:scale(1.8);
    }
}